header{
    min-height: 10vh;
}
main{
    min-height: 77.5vh;
}
footer{
    min-height: 10vh;
}

.color-white{
    color: white;
    text-shadow: 1px 1px 6px rgba(0,0,0,1);
}

.logo{
    width: 100%;
}
.hover-custom:hover{
    border-color: #0d6efd !important;

}
.slide-heigth{
    height: 25vh;
}
.card-slid-heigth{
    height: 22vh;
}
.heigth-img{
    height: 30vh;
}
.body-card-heigth{
    height: 200px;
}
.card-width{
    max-width: 540px;
}
.img-detail{
    height: 170px;
}