header{
    min-height: 10vh;
}
main{
    min-height: 77.5vh;
}
footer{
    min-height: 10vh;
}
.border-bt{
    border-color: #a60e40 !important;
}
.bg-body{
    background-color: #f4f7f7 !important;
}
.color-white{
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.93);
}

.logo{
    width: 100%;
}
.hover-custom:hover{
    border-color: #0d6efd !important;

}
.slide-heigth{
    height: 29vh;
}
.card-slid-heigth{
    height: 28vh;
}
.heigth-img{
    height: 30vh;
}
.body-card-heigth{
    height: 200px;
}
.card-width{
    max-width: 540px;
}
.img-detail{
    height: 170px;
}